# 依赖
node_modules/
src/server/node_modules/
src/server/package-lock.json

# 环境变量
.env
.env.local
.env.*.local

# 编译产物
dist/
build/

# IDE
.vscode/
.idea/
*.swp

# 操作系统
.DS_Store
Thumbs.db

# 其他项目文件

release/
src/extension.crx
src/extension.pem
src/bili-qml.pem

